* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    background: orange;
}

.wrapper {
    width: 750px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.7);
}

.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 12px;
    border: 1px solid rgb(95, 92, 92);
}

.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(212, 61, 61);
}

.result-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 140px);
}

.result-details li{
    display: flex;
    height: 20px;
    list-style: none;
    align-items: center;
}

.content button {
    outline: none;
    border: none;
    color: whitesmoke;
    width: 110px;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    background: orange;
    transition: transform 0.5s ease;
}

.content button:active {
    transform: scale(0.77);
}